

<h1 class="text-center mt-4">Log In</h1> 

<%= form_with(scope: :session, url: login_path, local: true) do |form| %>
  

  <div class="input-group mb-3 w-50 mx-auto">
    <div class="input-group-prepend">
      <%= form.label :email, class: "input-group-text", id: "inputGroup-sizing-default" %>
    </div>
    <%= form.text_field :email, placeholder: "Enter a valid email address", class: "form-control" %>
  </div>
  
  <div class="input-group mb-3 w-50 mx-auto">
    <div class="input-group-prepend">
      <%= form.label :password, class: "input-group-text", id: "inputGroup-sizing-default" %>
    </div>
    <%= form.password_field :password, placeholder: "Enter your password", class: "form-control" %>
  </div>

  <div class="actions text-center">
    <%= form.submit "Log in", class: "btn btn-success align-self-center mr-1" %>
    <%= link_to 'Cancel', root_path, class: "btn btn-dark align-self-center" %> 
  </div>
<% end %>
