<div class="card-deck">
  <% @articles.each do |article| %>
    <div class="col-lg-6">
      <div class="card my-4">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= link_to article.title, article_path(article) %></h5>
          <span class="text-muted">Posted by: <%= article.user.username if article.user %></span>
          <p class="card-text"><%= truncate(article.description, :lenght => 50) %></p>
          <% if logged_in? && (article.user == current_user || current_user.admin?)%> 
            <%= link_to "Edit", edit_article_path(article), class: "btn btn-outline-secondary" %>
            <%= link_to "Delete", article_path(article), method: :delete, class: "btn btn-outline-danger", data: { confirm: "Are you sure you want to delete?" } %>
          <% end %>
          <p class="card-text mt-2">
            <small class="text-muted">Posted <%= time_ago_in_words(article.created_at) %> ago.</small>
            <br/>
            <small class="text-muted">Last updated <%= time_ago_in_words(article.updated_at) %> ago.</small>
          </p>       
        </div>
      </div>
    </div>
  <% end %>
</div>