<h1>New Article</h1>
<% if @article.errors.any? %>
<h2>The following errors prevented the article from being created:</h2>
  <ul>
    <% @article.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
<%= form_with scope: :article, url: articles_path, local: true do |f| %>

  <div>
    <%= f.label :title %>
    <%= f.text_field :title%>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_area :description%>
  </div>

  <div>
    <%= f.submit %>
  </div>

<% end %>
