
  
<%= form_with(model: @user, local: true) do |form| %>
  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username, placeholder: "Between 3-25 charac." %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, placeholder: "Enter valid email" %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
